body {
  background: #fcfaf9;
  margin: 0;
  padding: 0;
}
section {
  background: #f3d3bd;
  padding: 10px;
  margin: 10px 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  left: 50%;
}

.navigation {
  background: #48e5c2;
  padding: 16px;
  right: 0;
  left: 0;
}

.navigation__link {
  color: #333333;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: #333333;
  color: #48e5c2;
  padding: 8px;
  border-radius: 5px;
}

.first-heading {
  color: #333333;
}

.second-heading {
  color: #333333;
}
.special-header {
  color: #5e5e5e;
}

.lets-go {
  color: #5e5e5e;
}

.third-heading {
  color: #5e5e5e;
}

p {
  color: rgb(49, 49, 49);
}

footer {
  color: #eeebf1;
  background: #333333;
  padding: 10px;
}

.code-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  color: #333333;
}

#top {
  background: #5e5e5e;
}

a {
  color: #48e5c2;
}

img.wtf {
  width: 300px;
  height: 300px;
}

img {
  width: 150px;
  height: 180px;
}

.content-article {
  background: #eeebf1;
  padding: 10px;
}

.layers {
  background: #eeebf1;
  padding: 10px;
  border-radius: 6px;
  border: 1px dashed #333333;
  margin: 20px;
}
.layers__paragraph {
  color: #333333;
  font-weight: bold;
}

.layers__title {
  color: #48e5c2;
  background: #5e5e5e;
  padding: 8px;
}
