body {
  background: #fcfaf9;
  margin: 0;
  padding: 0;
}

section {
  background: #f3d3bd;
  padding: 10px;
  margin: 10px 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__header {
  background: #5e5e5e;
  padding: 20px;
}

.main__picture {
  width: 300px;
  height: 300px;
}

.navigation {
  background: #48e5c2;
  padding: 16px;
}

.navigation__link {
  color: #333333;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: #333333;
  color: #48e5c2;
  padding: 8px;
  border-radius: 5px;
}

.main__heading {
  color: #333333;
}

.done-section {

}
.done-section__heading {
  color: #48e5c2;
}

.done-section__heading--3 {
  color: #5e5e5e;
}

.not-done-section {

}

.not-done-section__heading {
  color: #333333;
}



.lets-go {
  color: #5e5e5e;
}

p {
  color: rgb(49, 49, 49);
}

.code-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  color: #333333;
}

a {
  color: #48e5c2;
}



img {
  width: 150px;
  height: 180px;
}

.content-article {
  background: #eeebf1;
  padding: 10px;
}

.layers {
  background: #eeebf1;
  padding: 10px;
  border-radius: 6px;
  border: 1px dashed #333333;
  margin: 20px;
}
.layers__paragraph {
  color: #333333;
  font-weight: bold;
}

.layers__title {
  color: #48e5c2;
  background: #5e5e5e;
  padding: 8px;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  color: #eeebf1;
  background: #333333;
  padding: 10px;
}